.card{
    margin: 10px;
    padding: 10px;
}
.card-footer{
    margin: 0px 15px 0px 15px;
}

.filter-form{
    margin: 10px;
    padding: 10px; 
}

.form-group{
    padding-bottom: 5px ;
}

.btn-filter {
    padding: 20px 5px 0px 0px;
  }

.form-select{
    margin-bottom: 10px;
  }