.card{
    margin: 10px;
    padding: 10px;
}
.card-footer{
    margin: 0px 15px 0px 15px;
}
.card-img{
    height: 200px;
    width: auto;
}

.filter-form{
    margin: 10px;
    padding: 10px; 
}

.form-group{
    padding-bottom: 5px ;
}

.btn-filter {
    padding: 20px 5px 0px 0px;
  }

.form-select{
    margin-bottom: 10px;
  }
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    color: #000000; /* Set the color to black */
  }
  
  .pagination li.disabled a {
    color: #ffffff; /* Set the color to white */
  }
  
  .pagination li.active a {
    font-weight: bold;
    background-color: #000000;
    color:#ffffff;
    border-color: #000000;
  }
  